# Ignore Android, iOS, Web, macOS, and Windows directories

macos/
windows/
linux/ 

# Flutter/Dart/Pub related files
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
pubspec.lock # Ignore pubspec.lock

# Firebase files (adjust paths as needed)
google-services.json # Android Firebase config
GoogleService-Info.plist # iOS Firebase config
firebase_options.dart # Generated firebase options file
lib/firebase_options.dart #if it is stored in lib folder

# Ignore build artifacts for other platforms
**/android/app/debug
**/android/app/profile
**/android/app/release

# Miscellaneous files to ignore
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related files
*.iml
*.ipr
*.iws
.idea/

# Symbolication and Obfuscation related
app.*.symbols
app.*.map.json

# Ignore any additional files for temporary work or cache
pubspec.lock
